@model IEnumerable<JobApplication>
@{
    ViewData["Title"] = "Job Application List";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div class="container p-3">
    <div class="row  pt-4 alert alert-dark">
        <div class="col-6">
            <h2 class="text-primary"><img class="icon-img" src="~/img/icons/jobapplications.png" /> Job Application List</h2>
            </div>
        </div>
        <br /><br />


        <table id="dataTable" class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Job</th>
                    <th>CV</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="20%"><a asp-action="Details" asp-route-id="@obj.Id">@obj.Name</a></td>
                        <td width="10%">@obj.Email</td>
                        <td width="20%">@obj.JobOpening.JobTitle</td>
                    <td width="10%"><a title="Download" href="@obj.CV"><img class="icon-img cursor-pointer" src="~/img/icons/crud/cv.png" /></a></td>
                        <td width="10%">
                            @if (@obj.Evaluated)
                            {
                                <img src="~/img/delete.png" width:15px; height=15px;>
                            }
                            else
                            {
                                <img src="~/img/ok.png" width:15px; height=15px;>
                            }
                        </td>
                     <td>
                         @if (@obj.Evaluated)
                         {
                            <a title="Unmark evaluaded" asp-action="Evaluated" asp-route-id="@obj.Id" class="btn btn-danger"><img class="icon-img" src="~/img/icons/crud/return.png" /> </a>
                        }
                        else
                        {
                            <a title="Mark evaluated" asp-action="Evaluated" asp-route-id="@obj.Id" class="btn btn-primary"><img class="icon-img" src="~/img/icons/crud/approved.png" /> </a>
                        }
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @section Scripts{
        <script>
        $(document).ready( function () {
        $('#dataTable').DataTable();
        } );
        </script>
        <partial name="_ValidationScriptsPartial" />
        <partial name="_ExternalReferences" />
    }