@using ERP.Utility
@model IEnumerable<PayRollDetail>
@{
    ViewData["Title"] = "Pay Roll List";

}

<div class="container p-3">
    <div class="row  pt-4 alert alert-dark">
        <div class="col-6">
            <h2 class="text-primary"><img class="icon-img" src="~/img/icons/payrolldetail.png" />  Pay Roll List</h2>
        </div>
        <div class="col-6 text-end">
            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_HR))
            {
                <a asp-controller="PayRollDetail" asp-action="Upsert" class="btn btn-primary"><img class="icon-img" src="~/img/icons/crud/add.png" /> Add</a>
            }
        </div>
    </div>
    <br /><br />


    <table id="dataTable" class="table table-bordered table-striped" style="width:100%;">
        <thead>
            <tr>
                <th>Pay Roll</th>
                <th>Employee</th>
                <th>Amount</th>
                <th>Extra</th>
                <th>Deduction</th>
                <th>Total</th>
                <th>Paid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                var total = ((@obj.Amount + @obj.ExtraPayment) - @obj.Deduction);
                <tr>
                    <td width="13%">@obj.PayRollOrder.Reference</td>
                    <td width="25%"><a asp-action="Details" asp-route-id="@obj.Id">@obj.Employee.Name</a></td>
                    <td width="8%">@obj.Amount.ToString("c")</td>
                    <td width="8%">@obj.ExtraPayment.ToString("c")</td>
                    <td width="8%">@obj.Deduction.ToString("c")</td>
                    <td width="8%">@total.ToString("c")</td>
                    <td width="5%">
                        @if (@obj.Paid)
                        {
                            <img src="~/img/ok.png" width:15px; height=15px;>
                        }
                        else
                        {
                            <img src="~/img/delete.png" width:15px; height=15px;>
                        }
                    </td>

                    <td>
                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_HR))
                        {
                            <a title="Edit" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-success"><img class="icon-img-crud" src="~/img/icons/crud/edit.png" /> </a>
                            @if (!@obj.Paid)
                            {
                                <a title="Pay" asp-action="Paid" asp-route-id="@obj.Id" class="btn btn-info"><img class="icon-img-crud" src="~/img/icons/crud/paid.png" /> </a>
                            }

                        }
                        else
                        {
                            <a title="Pay" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-info"><img class="icon-img-crud" src="~/img/icons/crud/addpaymentdetail.png" /> </a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>

    }