@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employee List";
    
}

<div class="container p-3">
    <div class="row  pt-4 alert alert-dark">
        <div class="col-6">
            <h2 class="text-primary"><img class="icon-img" src="~/img/icons/employees.png" /> Employee List</h2>
            </div>
            <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="Upsert" class="btn btn-primary"><img class="icon-img" src="~/img/icons/crud/add.png" /> Create</a>
            </div>
        </div>
        <br /><br />


        <table id="dataTable" class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="30%"><a asp-action="Details" asp-route-id="@obj.Id">@obj.Name</a></td>
                        <td width="10%">@obj.Email</td>
                        <td width="10%">@obj.Department.Name</td>
                        <td width="10%">@obj.jobPosition.Name</td>
                        <td width="10%">
                            @if (@obj.Active)
                            {
                                <img src="~/img/ok.png" width:15px; height=15px;>
                            }
                            else
                            {
                                <img src="~/img/delete.png" width:15px; height=15px;>
                            }
                        </td>
                     <td>
                        <a title="Edit" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-success"><img class="icon-img-crud" src="~/img/icons/crud/edit.png" /> </a>
                         @if (@obj.Active)
                         {
                            <a title="Delete" asp-action="ChangeStatus" asp-route-id="@obj.Id" class="btn btn-danger"><img class="icon-img-crud" src="~/img/icons/crud/delete.png" /> </a>
                        }
                        else
                        {
                            <a title="Recover" asp-action="ChangeStatus" asp-route-id="@obj.Id" class="btn btn-primary"><img class="icon-img-crud" src="~/img/icons/crud/return.png" /> </a>
                        }
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @section Scripts{
        <script>
        $(document).ready( function () {
        $('#dataTable').DataTable();
        } );
        </script>

    }