@model IEnumerable<Order>
@using Microsoft.Extensions.Options
@inject IOptions<ERP.Utility.StripeSettings> Stripe
@{
    ViewData["Title"] = "Order List";
}

<div class="container p-3">
    <div class="row  pt-4 alert alert-dark">
        <div class="col-12">
            <h2 class="text-primary"><img class="icon-img" src="~/img/icons/clients.png" />  Clients</h2>
            <div class="text-end" style="margin-top: -41px";>
                <a asp-controller="Order" asp-action="ActiveClient" asp-route-dpto="SEO" class="btn btn-primary"><i class="bi bi-funnel"></i> SEO</a>
                <a asp-controller="Order" asp-action="ActiveClient" asp-route-dpto="PPC" class="btn btn-secondary"><i class="bi bi-funnel"></i> PPC</a>
                <a asp-controller="Order" asp-action="ActiveClient" asp-route-dpto="Web" class="btn btn-success"><i class="bi bi-funnel"></i> WEB</a>
                <a asp-controller="Order" asp-action="ActiveClient" asp-route-dpto="App" class="btn btn-info"><i class="bi bi-funnel"></i> APP</a>
                <a asp-controller="Order" asp-action="ActiveClient" asp-route-dpto="Multimedia" class="btn btn-warning"><i class="bi bi-funnel"></i> Multimedia</a>
                <a asp-controller="Order" asp-action="ActiveClient" asp-route-dpto="Social Media" class="btn btn-dark"><i class="bi bi-funnel"></i> Social Media</a>
                <a asp-controller="Order" asp-action="ActiveClient" asp-route-dpto="all" class="btn btn-light"><i class="bi bi-funnel"></i> All</a>
            </div>
            </div>
        </div>
        <br /><br />


        <table id="dataTable" class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                   <th>Client</th>
                    <th>Service</th>
                    <th>Amount</th>
                    <th>Billing Date</th>
                    <th>Paid?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                       <td width="30%"><a asp-controller="Client" asp-action="Details" asp-route-id="@obj.ClientId">@obj.Client.BusinessName</a></td>
                        <td width="20%">@obj.Service.Name</td>
                        <td width="15%">@obj.Amount.ToString("c")</td>
                        <td width="15%">@((obj.BillingDate.ToString("yyyy-MM-dd")))</td>
                        <td width="5%">
                            @if (@obj.Paid)
                            {
                                <img src="~/img/ok.png" width:15px; height=15px;>
                            }
                            else
                            {
                                <img src="~/img/delete.png" width:15px; height=15px;>
                            }
                        </td>
                     <td>
                        <a title="Details" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-success"><img class="icon-img-crud" src="~/img/icons/crud/detail-info.png" /> </a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @section Scripts{
        <script>
        $(document).ready( function () {
        $('#dataTable').DataTable();
        } );
        </script>

    }